.conatiner_search {
    display: flex;
    flex-direction: row;
    padding: 0.8rem 0.4rem;
    margin-bottom: 0.4rem;
    border-bottom: dashed 2px #8a84ca;
}
.conatiner_search input {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border: solid 2px #8a84ca;
    outline: none;
    padding: 0.1rem 0.6rem;
}
.conatiner_search input:hover {
    border-color: #2b1bd8;
    transition: 0.9s;
}
span {
    color: #fff;
    margin-left: 0.3rem;
}
.span_notification {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(147, 195, 202);
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
}

.section_fetch {
    margin: 0 0.4rem;
    width: 50%;
}


.conatiner_main {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border-radius: 12px;
}
.container_box {
    background: #302b63;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.7rem 1rem;
}
.container_box {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: dashed #8a84ca 3px;
}

.container_box h2 {
    font-family: "Rajdhani", sans-serif;
    font-size: 2.1rem;
    font-weight: 700;
    margin: 0;
}
.container_box p {
    font-family: "Rajdhani", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.container_box img {
    width: 60px;
    height: 80px;
    border-radius: 3px;
    border: solid #8a84ca 1px;
    transition: transform 0.3s ease;
}
.container_box:hover img {
    transform: scale(4);
}

.conatiner_main div:last-child {
    font-size: 1.3rem;
    padding: 0.6rem;
    font-family: "Source Serif 4", serif;
}

.button_post {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #2c216c;
    padding: 0.1rem 0.6rem;
    border-radius: 3px;
    border: dashed 1px #2c216c;
    font-family: "Rajdhani", sans-serif;
    margin: 1rem 0;
}
.button_post:hover {
    border: solid 2px #2c216c;
}


main {
    display: flex;
    flex-direction: row;
    
}

.section_card {
    margin: 0 0.4rem;
    width: 100%;
}





@media only screen and (max-width: 600px) {
    .container_header {
        flex-direction: column;
        height: 100%;
    }
    .container_header div h2 {
        font-size: 1.7rem;
    }
    .container_header nav {
        padding-top: 0.3rem;
        border-top: solid 1px #8a84ca;
    }
    .container_header nav ul {
        margin: 0;
    }
    .container_header nav ul li {
        height: 100%;
    }

    main {
        flex-direction: column;
    }
    .section_fetch, .section_card {
        width: 100%;
        padding: 0.7rem;
        margin: 0;
    }
    .section_card {
        margin: 0;
        width: 100%;
    }
    input {
        width: 100%;
    }
    .noneAll {
        display: none;
    }
}