textarea {
    font-size: 1.3rem;
    padding: 0.6rem;
    font-family: "Source Serif 4", serif;
    min-width: 100%;
    max-width: 300px;
    min-height: 80%;
    max-height: 100%;
}

input {
    font-size: 1.3rem;
 
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border: solid 2px #8a84ca;
    outline: none;
    padding: 0.2rem 0.3rem;
    margin: 0.2rem 0;
    outline: none;
}

.container_card {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container_card div {
    display: flex;
    flex-direction: column;
}




.button_post_local {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #2c216c;
    padding: 0.1rem 0.6rem;
    border-radius: 3px;
    border: dashed 2px #ebb325;
    font-family: "Rajdhani", sans-serif;
    margin: 1rem 0;
}
.button_post_local:hover {
    border: solid 2px #ebb325;
}
.button_get_local {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #2c216c;
    padding: 0.1rem 0.6rem;
    border-radius: 3px;
    border: dashed 2px #2543eb;
    font-family: "Rajdhani", sans-serif;
    margin: 1rem 1rem;
}
.button_get_local:hover {
    border: solid 2px #2543eb;
}
